@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
 font-family: 'Roboto';
 color: darkgray;
 background-color: rgb(16, 4, 95);
}
h1{
 font-weight: 700;
 font-size: 50px;
}
h2{
 font-weight: 700;
 font-size: 30px;
}
h3{
    font-weight: 500;
    font-size: 20px;
}
p{
    font-size: 15px;
    font-weight: 400;
}
p.date{
    font-size: 10px;
    color: lightgray;
}
p.in{
 color: rgb(140, 167, 93);
}
p.out{
 color: rgb(230, 48, 48);
}